.wp-admin .submitbox .misc-pub-section.cgit-post-draft-edit::before {
    content: "\f119";
    color: #82878c;
    display: inline-block;
    font-family: dashicons;
    font-size: 20px;
    margin-left: -1px;
    padding-right: 3px;
    vertical-align: top;
}

.wp-admin.is-cgit-wp-post-draft #titlewrap + .inside {
    display: none;
}
